html,
body,
#root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    height: 100%;
    overflow: hidden; /*スクロールバーを出さない設定*/
    background-color: #1a1a1a;
}

.app-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
